.gradle
.idea/
build/
app/build/
app/out/
domain-handler/build/
domain-handler/out/
domain-verticle/build/
domain-verticle/out/
main/build/
main/out/
util/build/
util/out/
vertx/build/
vertx/out/
vertx-verticle/build/
vertx-verticle/out/
.settings
.vertx/
gradle-app.setting
!gradle-wrapper.jar

git.properties
manifest.yml
logs/*.*
main/logs/*.*
main/src/main/resources/config-cloud.json
